# Project specific
Mods/

# Python and generic
*$py.class
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.py,cover
*.py[cod]
*.pyc
*.so
*.spec
*venv*
.DS_Store
.Python
.cache
.coverage
.coverage.*
.dmypy.json
.eggs/
.env/
.hypothesis/
.idea
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pytest_cache/
.python-version
.tox/
.venv/
MANIFEST
Pipfile.lock
__pycache__/
build/
cover/
coverage.xml
cython_debug/
develop-eggs/
dist/
dmypy.json
downloads/
eggs/
env/
htmlcov/
lib/
lib64/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
share/python-wheels/
tmp/
var/
venv/
wheels/
